
body {
    background-color: rgb(216, 216, 216);
}

#banner {
    align-self: center;
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    
}

/* Identificador usa hashtag */
#missao {
    font-size: 20px;
}

strong {
    color: rgb(110, 29, 131);
}

em strong {
    color: black;
}
/* Classes usa o ponto final */
.itens {
    font-style: italic; /* Essa mudança é apenas visual, sem semântica */
}
